@using HRApp.Web
@using HRApp.Model
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CommonSelectDialog</title>
    <script src="~/Scripts/Common/Lang.js?@InitAppSetting.Version"></script>
    <script src="~/Scripts/jquery-1.9.1.js?@InitAppSetting.Version"></script>
    <script src="~/Scripts/Common/Common.js?@InitAppSetting.Version"></script>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
