<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <!--补丁分类说明 1=DBStruct&2=LogicData&3=SP&4=Fun 四项补丁类别已使用-->
      <add key="NPKCategoryReadDB" value="fasle"/>
      <!--Npk服务url-->
      <add key="NpkServiceUrl" value="http://localhost:899/NpkThirdPartService/"/>
      <add key ="SubmitNpkFileUrl" value="Home/SubmitNpkFile"/>
    </appSettings>
</configuration>