<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="GatherIdCardUrl" value="http://idcard.gxsky.com/more_card.asp?page={0}&amp;city={0}"/>  <!--特殊符号 &转义 &amp;-->
      <add key ="GatherPersonInfor" value="http://www.cnguashi.com/gerenzhengjian/shenfenzheng/index_{0}.html"/>
    
    </appSettings>
</configuration>