<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="GatherIdCardUrl" value="http://idcard.gxsky.com/more_card.asp?page={0}&amp;city={0}"/>  <!--特殊符号 &转义 &amp;-->
      <add key ="GatherPersonInfor" value="http://www.cnguashi.com/gerenzhengjian/shenfenzheng/index_{0}.html"/>
      <!--<add key="UserRemarkLoseIdCard" value="http://www.51guashi.cn/zsxt.asp?classid={0}"/>-->
                                              
        <add key="UserRemarkLoseIdCard" value="http://www.51guashi.cn/zsxt.asp?owen1=%C9%ED%B7%DD%D6%A4%B9%D2%CA%A7&amp;owen2=&amp;page={0}"/>
      <add key="FileSaveDir" value="F:\SecurityData\IDCard\DebugIdCard\DataLog"/>
      <add key="MoMoHoster" value="https://web.immomo.com/webmomo/api/scene/recommend/lists"/> <!--陌陌主播推荐-->
      <add key="LastReadFileName" value=""/>
      <add key="DateTimeFormat" value="yyyy-MM-dd HH:mm:ss fff"/>
    </appSettings>
</configuration>