<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="MainUrl" value="https://kyfw.12306.cn/otn/login/init"/>
      <add key="InitCookeKey" value="https://kyfw.12306.cn/passport/web/login"/> <!--https://kyfw.12306.cn/passport/web/login-->
      <add key="AnywhereGetCookie" value="true"/> <!--无限制提取cookie-->
      <!--
      
      https://kyfw.12306.cn/otn/passengers/init utf8响应 设置ResponseIsZip为true
      
      https://kyfw.12306.cn/otn/confirmPassenger/getPassengerDTOs  gzip响应 提示用户未登陆 设置ResponseIsZip false
      -->
      <add key="ContacterUrl" value=" https://kyfw.12306.cn/otn/passengers/init"/> <!--联系人列表-->
      <add key ="CookieDomain" value="12306.cn"/>
      <add key="CookieFrom" value="http://12306.cn|http://kyfw.12306.cn"/>
	 <add key="NewCookieItem" value="" /><!-- uamtk=tk| tk是请求返回的 -->     
	 <add key="GenerateCookieItem" value="ten_key=ten_key|ten_js_key=ten_js_key"/>
      <add key="CoreCookieUrl" value="https://kyfw.12306.cn/passport/web/login"/> <!--提取核心cookie项的URL-->
      <add key="IgnoreHeadItem" value="Accept|Connection|Host|User-Agent|Referer"/>
      <add key="GetUserTocken" value="https://kyfw.12306.cn/otn/confirmPassenger/initDc"/>
      <add key ="ResponseIsZip" value="true"/> <!--响应被进行编码处理-->
      <add key="HttpResponseZip" value="utf-8"/> <!--ContacterUrl响应的字符编码 utf-8 gb2312-->
	 <add key ="DownloadResource" value="false"/> <!--http请求的资源是否进行下载-->
 	<add key="TockenAfterUrl" value="https://kyfw.12306.cn/otn/uamauthclient"/> <!--在执行这个请求之后获取到tocken-->
    
	 </appSettings>
</configuration>