<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="MainUrl" value="https://kyfw.12306.cn/otn/index/init"/>
      <add key="InitCookeKey" value="https://kyfw.12306.cn/otn/passport?redirect=/otn/login/userlogin"/> <!--https://kyfw.12306.cn/passport/web/login-->
      <add key="AnywhereGetCookie" value="false"/> <!--无限制提取cookie-->
      <add key="ContacterUrl" value="https://kyfw.12306.cn/otn/passengers/init"/> <!--联系人列表-->
      <add key ="CookieDomain" value="12306.cn"/>
      <add key="CookieFrom" value="http://12306.cn|http://kyfw.12306.cn"/>
      <add key="NewCookieItem" value="tk=tk|" />
      <add key="GenerateCookieItem" value="ten_key=ten_key|ten_js_key=ten_js_key"/>
    </appSettings>
</configuration>