<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="MainUrl" value="https://kyfw.12306.cn/otn/login/init"/>
      <add key="InitCookeKey" value="https://kyfw.12306.cn/passport/web/login"/> <!--https://kyfw.12306.cn/passport/web/login-->
      <add key="AnywhereGetCookie" value="true"/> <!--无限制提取cookie-->
      <add key="ContacterUrl" value="https://kyfw.12306.cn/otn/confirmPassenger/getPassengerDTOs"/> <!--联系人列表-->
      <add key ="CookieDomain" value="12306.cn"/>
      <add key="CookieFrom" value="http://12306.cn|http://kyfw.12306.cn"/>
      <add key="NewCookieItem" value="uamtk=tk|" />
      <add key="GenerateCookieItem" value="ten_key=ten_key|ten_js_key=ten_js_key"/>
      <add key="CoreCookieUrl" value="https://kyfw.12306.cn/passport/web/login"/> <!--提取核心cookie项的URL-->
      <add key="IgnoreHeadItem" value="Accept|Connection|Host|User-Agent"/>
    </appSettings>
</configuration>