body {
    margin: 20px;
    background-color: #ccc;
}
input,textarea {
    box-sizing: border-box;
    border: solid 1px #ddd;
    width: 250px;
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    font-size: 14px;
    height: 31px;
    line-height: 1.42857;
    padding: 12px;
}
.alongLine { /*独占一行*/
    display: block;
    margin-bottom: 10px;
}
.alongLine span {
    display: block;
    margin-bottom: 10px;
}
textarea {
    width: 250px;
    height: 140px;
}
.select {
    width: 250px;
    height: 32px;
}
.button {
    height: 50px;
    width: 75px;
    background-color: #bfe8ef;
    border-radius: 15px;
}
.buttonSmall {
height:40px;
}
.block {
    display:inline-block;
    border:1px solid ;
    background-color:#32ead1;
    padding:10px;
    margin:0  20px 10px 0;
    cursor:pointer;
}
.topIcon {
    color: red;
    position: relative;
    top: -8px;
    cursor: pointer;
    right: -1px;
}