body {
    margin: 20px;
    background-color: #ccc;
}
input {
    box-sizing: border-box;
    border: solid 1px #ddd;
    width: 250px;
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    font-size: 14px;
    height: 31px;
    line-height: 1.42857;
    padding: 4px;
}
.alongLine { /*独占一行*/
    display: block;
    margin-bottom: 10px;
}
.alongLine span {
    display: block;
    margin-bottom: 10px;
}
textarea {
    width: 250px;
    height: 140px;
}
.select {
    width: 250px;
    height: 32px;
}