.clearTag {
            cursor: pointer;
            display: inline-block;
            color: red;
            background-color: #ccc;
            left: -24px;
            position: relative;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 10px;
            padding-left: 2px;
        }
input[type=text],input[type=password] {
    height: 42px;
}
.validWarming {
    position: absolute;
    color: white;
    border-radius: 8px;
    border: 1px solid red;
    width: 16px;
    height: 16px;
    background-color: red;
}
.smalllClear {
    color: red;
    position: relative;
    top: -15px;
    right: -1px;
    width: 20px;
    cursor: pointer;
}