@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddGoodsDialog</title>
</head>
<body>
    <div>
        <div >
            <span class="alongLine">
                <span><label>名称</label></span>
                <span><input type="text" id="txtName"/></span>
            </span>
            <span class="alongLine">
                <span><label>数目</label></span>
                <span><input type="text" id="txtNumber" /></span>
            </span>
        </div>
    </div>
</body>
</html>
