<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
    <connectionStrings>
          <add name="TecentDA" connectionString="Data Source=.;Initial Catalog=TecentDataDA;User Id=sa;Password=password;Integrated Security=false;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <appSettings>
      <add key="ImageDir" value="F:\GatherImageList\"/>
      <add key="FolderFilesMaxNumder" value="200"/>  <!--每个文件夹下 最多存储的文件数目-->
      <!--地址链接符-->
      <add key="LocalCityJoinSign" value="_"/>
    </appSettings>
  <entityFramework>
    <providers>
      <provider   invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>