@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div>qq图片分类汇总处理</div>
        <div></div>
    </div>
</body>
</html>
