@using HRApp.Web;
@using AppLanguage;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Lang.LblAccountGroup</title>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/layer3.0/layer.js"></script>
    <script src="~/Scripts/Common/Common.js"></script>
    <script type="text/javascript">
        $(function () {
            bindPostAjax('/ContactManage/QueryUinDataList', {
                'StartTime': '@DateTime.Now.AddMonths(-1).AddDays(1).ToString(Common.Data.CommonFormat.DateFormat)',
                'EndTime': '@DateTime.Now.ToString(Common.Data.CommonFormat.DateFormat)',
                BeginRow: 0,
                EndRow:200
            },
                function (response, statue) {

            });
        });
    </script>
</head>
<body>
    <div>
        <div>qq图片分类汇总处理</div>
        <div></div>
    </div>
</body>
</html>
