@using AppLanguage;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>系统配置</title>
    <link href="~/Content/AppLayout.css" rel="stylesheet" />
</head>
<body>
    <div>
        <label>@Lang.LblName</label>
        <input  type="text" id="txtName" autocomplete="off"/> @* autocomplete关闭自动记忆功能*@
    </div>
</body>
</html>
