<!doctype html>

<html>

<head>

    <meta charset="utf-8">

    <title>jQuery多张图片批量上传插件</title>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Scripts/diyUpload/webuploader.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/diyUpload/diyUpload.css">
    <script type="text/javascript" src="~/Scripts/diyUpload/webuploader.html5only.js"></script>
    <script type="text/javascript" src="~/Scripts/diyUpload/diyUpload.js"></script>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        #box {
            margin: 50px auto;
            width: 540px;
            min-height: 400px;
            background: #FF9;
        }

        #demo {
            margin: 50px auto;
            width: 540px;
            min-height: 800px;
            background: #CF9;
        }
    </style>
    <script type="text/javascript">

    /*

    * 服务器地址,成功返回,失败返回参数格式依照jquery.ajax习惯;

    * 其他参数同WebUploader

    */ 
        $(function () {
            $('#test').diyUpload({
                url: '/FileHelper/GetUploadFile',
                success: function (data) {
                    console.info(data);
                },
                error: function (err) {
                    console.info(err);
                }
            });
            $('#as').diyUpload({
                url: '/FileHelper/GetUploadFile',
                success: function (data) {
                    console.info(data);
                },
                error: function (err) {
                    console.info(err);
                },
                buttonText: '选择文件',
                chunked: true,
                // 分片大小
                chunkSize: 512 * 1024,
                //最大上传的文件数量, 总文件大小,单个文件大小(单位字节);
                fileNumLimit: 50,
                fileSizeLimit: 500000 * 1024,
                fileSingleSizeLimit: 50000 * 1024,
                accept: {}
            });
        });
    </script>
</head>
<body>
    <div id="box">
        <div id="test"></div>
    </div>
    <div id="demo">
        <div id="as"></div>
    </div>
</body>
</html>
