<?xml version="1.0" encoding="utf-8"?>
<configuration>
     <configSections>
      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/> 
  </configSections>
    <connectionStrings>
      <add name="UrlDataConnString" connectionString="Data Source=.;Initial Catalog=CodeTest;User Id=sa;Password=password; Integrated Security=false;" providerName="System.Data.SqlClient"/>
      <add name="IpDataSrc" connectionString="Data Source=.;Initial Catalog=IpAddressDB;User Id=sa;Password=password;Integrated Security=false;" providerName="System.Data.SqlClient"/>
       <add name="TecentDA" connectionString="Data Source=.;Initial Catalog=TecentDatauinDA;User Id=sa;Password=password;Integrated Security=false;" providerName="System.Data.SqlClient"/>
      <add name="IpAddressData" connectionString="Data Source=.;Initial Catalog=IpAddressData;User Id=sa;Password=password;Integrated Security=false;" providerName="System.Data.SqlClient"/>
     <!--12306数据存储库-->
      <add name="Ticket12306DBConnString" connectionString="Data Source=.;Initial Catalog=TicketDB;User Id=sa;Password=password;Integrated Security=false;"  providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <appSettings>
      <add key="LogDirIsFromWebConfig" value="false"/> <!--日志路径使用配置文件中的配置项-->
      <add key="LogDir" value="F:\ExeLog"/> <!--LogDirFromWebConfig 设置为true，改项才有效-->
      <add key="AddUrlDataSp" value="Sp_AddUrlData"/>
      <add key="ValidateUrlField" value="Url,UrlKey,UrlDesc,RequestMethod,WebName,WebKey"/>
      <add key="QueryQQAccountUrl" value="http://cgi.find.qq.com/qqfind/buddy/search_v3"/>
      <add key ="UinGroupUrl" value="http://qun.qq.com/cgi-bin/group_search/pc_group_search"/> <!--查询qq群的URL post请求-->
      <add key="LogPath" value="D:\Dream\ExcuteHttpCmd\CaptureWebLogger\AutoLogger"/>
      <add key="AppNameEng" value="RedisCache"/>
      <add key="CfgFileExistsIsDoReplace" value="true"/> <!--配置文件已存在是否进行替换写入 ：进行版本号验证使用-->
      <add key="UsingRedis" value="false"/> <!--是否启用Redis 缓存数据功能-->
      <add key="RedisValueIsJsonFormat" value="false"/> <!--redis 缓存的键值中的值为json串形式-->
      <add key="DateTimeFormat" value="yyyy-MM-dd HH:mm:ss fff"/>
       <add key="DateTimeIntFormat" value="yyyyMMddHHmmssfff"/> <!--日期的数字串-->
      <add key="RedisIp" value="127.0.0.1"/>
      <add key="RedisPort" value="6379"/>
      <add key="RedisPsw" value="123456"/>
      <add key="RedisCacheReleativeFile" value="Service"/> <!--redis 缓存数据文件的相对路径-->
      <add key="OpenAutoQuertyDBTotal" value="false"/> <!--是否开启定时自动查询数据库采集数据量信息-->
      <add key="IIS501" value="501 Not Implemented"/> <!--调用接口返回内容为IIS没有 501未实现-->
    <!--qq 作为SMTP服务-->
		  <add key="EmailKey" value="vhhzicavinjrbjjh"/>
		  <add key="EmailId" value="158055983@qq.com"/>
		  <add key="SMTPClient" value="smtp.qq.com"/>
      <add key="enableSsl" value="true"/>
      <add key="emailClientPort" value="0"/> <!--是否设置邮件的端口 非数字且数字小于1表示不使用-->
      <add key="EmailToUser" value="hukuolin@outlook.com"/>
      <add key="CaptureWebDataWinAssembly" value="CaptureManage.AppWin"/>
      <add key="Ticket12306OpenDB" value="true"/> <!--12306抢票插件是否开启数据库存储功能-->
      <add key="Ticket12306Cfg" value="Config/LogicCfg.xml"/>
      <add key="Ticket12306PluginCfgDir" value="Config/TicketConfigEntity.xml"/> <!--插件刷票配置项-->
      <add key="CitySubwayCfg" value="Config/CitySubwayCfg.xml"/>
      <add key="AppDataSqlXml" value="SqlCmdConfig\AppDataCfgSql.xml"/> <!--存储程序操作的数据库脚本xml文件-->
      <add key="AppCfgXmlNodeFormat" value="configuration/appSettings"/> <!--xml文件中默认实体项中根节点项-->
    </appSettings>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="System.Net.Http" publicKeyToken="b77a5c561934e089" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0"/>
        </dependentAssembly>
      </assemblyBinding>
    </runtime>
 
   <entityFramework>
      <providers>
        <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
   </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
