<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net46" />
  <package id="cef.redist.x64" version="3.3325.1758" targetFramework="net45" />
  <package id="cef.redist.x86" version="3.3325.1758" targetFramework="net45" />
  <package id="CefSharp.Common" version="98.1.210" targetFramework="net45" />
  <package id="CefSharp.WinForms" version="65.0.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net46" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net40" requireReinstallation="True" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net40" requireReinstallation="True" />
  <package id="MySql.Data" version="8.0.16" targetFramework="net46" />
  <package id="MySql.Data.Entity" version="6.10.8" targetFramework="net46" />
  <package id="System.Data.SQLite" version="1.0.109.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.109.0" targetFramework="net45" requireReinstallation="True" />
  <package id="System.Data.SQLite.EF6" version="1.0.109.0" targetFramework="net45" requireReinstallation="True" />
  <package id="System.Data.SQLite.Linq" version="1.0.109.0" targetFramework="net45" requireReinstallation="True" />
  <package id="System.IO" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net46" />
  <package id="System.Runtime.InteropServices" version="4.0.0" targetFramework="net46" />
  <package id="System.Threading.Tasks.Extensions" version="4.0.0" targetFramework="net46" />
</packages>