<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="TargetDbConnString" value="Data Source=.;Initial Catalog=db;User Id=sa;Password=psw;"/>
      <add key="SyncDbConnString" value=""/>
      <add key ="TemplateDbConnStrin" value="Data Source={0};Initial Catalog={1};User Id={2};Password={3};"/>
      <add key="SearchColumnNameInTable" value="\File\SearchColumnNameInTable.sql"/> <!--根据表名称获取该表的全部列名-->
      <add key ="SP_SearchColumnNamesInTable" value="SP_SearchColumnNamesInTable"/> <!--脚本命令中用于查询表的列名的存储过程-->
      <add key="DateTimeUnitlf" value="yyyy-MM:dd HH-mm-ss fff"/> <!--日期格式化精确到微妙-->
    </appSettings>
</configuration>