@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/Common/Common.js"></script>
    <script type="text/javascript">
        $(function () {
            //$('#menus')
            bindPostAjax('/Menu/QueryAllMenus', function (response, statue) {

            });
        });
    </script>
</head>
<body>
    <div style="display:none;">
        <div  style="color:red;">代码版本= @HRApp.Web.InitAppSetting.CodeVersion</div>
        <div style="color:red;">数据库版本= @HRApp.Web.InitAppSetting.DBVersion</div>
        <div style="color:red;">文件版本= @HRApp.Web.InitAppSetting.Version</div>
    </div>
    <div id="menus">

    </div>
</body>
</html>
