@using HRApp.Web;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.9.1.js?v=@InitAppSetting.Version"></script>
    <link href="~/Scripts/bootstrap-select/bootstrap.min.css?v=@InitAppSetting.Version" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-select/bootstrap.min.js?v=@InitAppSetting.Version"></script>

    <script src="~/Scripts/Common/Common.js?v=@InitAppSetting.Version"></script>
    <script src="~/Scripts/Common/string.js?v=@InitAppSetting.Version"></script>
    <link href="~/Content/AppLayout.css?v=@InitAppSetting.Version" rel="stylesheet" />
    <link href="~/Content/HtmlEle.css?v=@InitAppSetting.Version" rel="stylesheet" />
    <style type="text/css">
        #toolTab {
            margin-bottom:10px;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            //$('#menus')
            bindPostAjax('/Menu/QueryAllMenus',null, function (response, statue) {
                if (!response.Success)
                {
                    $('.warming').html(response.Message);
                    return;
                }
                $(response.Data).each(function (i, ele) {//跟节点
                    var active = '';
                    if (i == 0) {
                        active = ' class="active" ';
                    }
                    var tmplLi = ' <li  ' + active + '><a href="#menu{Code}" data-toggle="tab" url="{url}"> {title} </a> </li>';
                    tmplLi = tmplLi.replace(/{Code}/g, ele.Code).replace(/{url}/g, ele.Url).replace(/{title}/g, ele.Name);
                    $('#myTab').append(tmplLi);
                    var tmpl = '<div class="block" url="{1}" id="{2}" title="{3}">{0}</div>';
                   var html=  tmpl.format(ele.Name, ele.Url, ele.Id, ele.Remark);
                  // $('#menus').append(html);
                   $('#myTab').find('[data-toggle=tab]:last').click(function () {
                       btnMenuClick(this);
                   })
                });
                //初始化触发第一项
                $('#myTab .active>[data-toggle=tab]').trigger('click');
            });
        });
        function btnMenuClick(objEle) {
            var layoutId = $(objEle).attr('href').replace('#','');
            var url = $(objEle).attr('url');
            if ($('#myTabContent #'+layoutId).length > 0)
            {
                return;
            }
            var layoutHtml = ' <div class="tab-pane fade in active" id="{layoutId}"> <iframe src="{url}" width="99%" height="500"></iframe> </div>';
            layoutHtml = layoutHtml.replace(/{layoutId}/g, layoutId).replace(/{url}/g, url);
            $('#myTabContent').append(layoutHtml);
        }
    </script>
</head>
<body style="height:95%;width:98%;">
    <div style="display:none;">
        <div style="color:red;">代码版本= @HRApp.Web.InitAppSetting.CodeVersion</div>
        <div style="color:red;">数据库版本= @HRApp.Web.InitAppSetting.DBVersion</div>
        <div style="color:red;">文件版本= @HRApp.Web.InitAppSetting.Version</div>
    </div>
    <div id="toolTab">
        <ul id="myTab" class="nav nav-tabs">
            
            <li class="dropdown" style="display:none;">
                <a href="#" id="myTabDrop1" class="dropdown-toggle"
                   data-toggle="dropdown">
                    应用
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1" style="display:none;">
                    <li><a href="#jmeter" tabindex="-1" data-toggle="tab">jmeter</a></li>
                    <li><a href="#ejb" tabindex="-1" data-toggle="tab">ejb</a></li>
                </ul>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
           
        </div>
    </div>
</body>
</html>
