@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <div  style="color:red;">代码版本= @HRApp.Web.InitAppSetting.CodeVersion</div>
        <div style="color:red;">数据库版本= @HRApp.Web.InitAppSetting.DBVersion</div>
        <div style="color:red;">文件版本= @HRApp.Web.InitAppSetting.Version</div>
    </div>
</body>
</html>
