@using HRApp.Web;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.9.1.js?v=@InitAppSetting.Version"></script>
    <link href="~/Scripts/bootstrap-select/bootstrap.min.css?v=@InitAppSetting.Version" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-select/bootstrap.min.js?v=@InitAppSetting.Version"></script>
    <script src="~/Scripts/layer3.0/layer.js?v=@InitAppSetting.Version"></script>
    <script src="~/Scripts/Common/Common.js?v=@InitAppSetting.Version"></script>
    <script src="~/Scripts/Common/string.js?v=@InitAppSetting.Version"></script>
    <link href="~/Content/AppLayout.css?v=@InitAppSetting.Version" rel="stylesheet" />
    <link href="~/Content/HtmlEle.css?v=@InitAppSetting.Version" rel="stylesheet" />
    <style type="text/css">
        #toolTab {
            margin-bottom:10px;
        }
        .tabItem {
            border: 1px solid white;
            padding: 8px;
            border-radius: 50px;
            margin-right:5px;
        }
        #myTab .active {
            background-color: #1f1d1d;
        }
        .warming {
            color:red;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            //$('#menus')
            bindPostAjax('/Menu/QueryAllMenus', null, function (response, statue) {
                var tipEle = $('.warming');
                tipEle.hide();
                if (!response.Success)
                {
                    tipEle.html(response.Message);
                    tipEle.show();
                    return;
                }
                DrawMenu(response.Data);
                return;
                $(response.Data).each(function (i, ele) {//跟节点
                    var active = '';
                    if (i == 0) {
                        active = ' class="active" ';
                    }
                    var tmplLi = ' <li  ' + active + '><a href="#menu{Code}" data-toggle="tab" url="{url}"> {title} </a> </li>';
                    tmplLi = tmplLi.replace(/{Code}/g, ele.Code).replace(/{url}/g, ele.Url).replace(/{title}/g, ele.Name);
                    $('#myMenu').append(tmplLi);
                    var tmpl = '<div class="block" url="{1}" id="{2}" title="{3}">{0}</div>';
                   var html=  tmpl.format(ele.Name, ele.Url, ele.Id, ele.Remark);
                   $('#myMenu').find('[data-toggle=tab]:last').click(function () {
                       toolItemSlt(this);
                   })
                });
                //初始化触发第一项
                $('#myMenu .active>[data-toggle=tab]').trigger('click');
            });
        });
        function DrawMenu(data,container) {
            if (!data) {
                return;
            }
            $(data).each(function (i, ele) {
                var container = (ele.ParentCode == '@InitAppSetting.DefaultAppsettingRootCode' || $.trim(ele.ParentCode) == '') ?
                    $('#myMenu') : $('#menu' + ele.ParentCode);
                if (ele.Childerns && ele.Childerns.length > 0) { //如果存在子节点进行子节点的渲染
                    //渲染节点
                    var items = '<li class="dropdown" >' 
                        + ' <a href="#" id="{Code}" class="dropdown-toggle"  data-toggle="dropdown">{title}</a>'
                        +' <ul class="dropdown-menu" id="menu{Code}" role="menu" aria-labelledby="{title}"> </ul><li>';
                    items = items.replace(/{Code}/g, ele.Code).replace(/{url}/g, ele.Url).replace(/{title}/g, ele.Name);
                    container.append(items);
                    DrawMenu(ele.Childerns, $('#menu' + ele.Code));
                }
                else {
                    var node = '<li><a href="#menu{Code} data-toggle="tab" url="{url}"> {title} </a> </li>';
                    node = node.replace(/{Code}/g, ele.Code).replace(/{url}/g, ele.Url).replace(/{title}/g, ele.Name);
                    container.append(node);
                }
            });
        }
        function toolItemSlt(objEle) {
            var tabId = $(objEle).attr('href').replace('#', '');
            var item = 'tab_' + tabId;
            //判断该项是否之前已经增加到面板中
            var tab = $('#myTab #' + item);
            if ($('#myTab li').length>0)
                $('#myTab li').removeClass('active');
            if (tab.length < 1) {
                //不存在则进行追加到面板栏

                var url = $(objEle).attr('url');
                var text = $(objEle).text();
                var tmplLi = ' <li  class="active tabItem"><span><a id="{item}" href="#menu{item}" data-toggle="tab" url="{url}"> {text} </a></span><span class="topIcon" onclick="btnClosePanel(this)">x</span> </li>';
                tmplLi = tmplLi.replace(/{item}/g, item).replace(/{url}/g, url).replace(/{text}/g, text);
                $('#myTab').append(tmplLi);
                tab = $('#myTab #' + item);
                $(tab).click(function () {
                    btnMenuClick(this);
                });
            } else {
                $('#' + item).parents('li').addClass('active');
            }
            btnMenuClick(tab);
        }
        function btnMenuClick(objEle) {
            if (objEle.length == 0) {

            }
            var li = $(objEle).parents('li');
            li.addClass('active');
            $('#myTabContent .tab-pane').hide();
            var layoutId = $(objEle).attr('href').replace('#','');
            var url = $(objEle).attr('url');
            var panel = $('#myTabContent #' + layoutId);
            if (panel.length > 0)
            {
                panel.show();
                return;
            }
            var layoutHtml = ' <div class="tab-pane fade in active" id="{layoutId}"> <iframe src="{url}" width="99%" height="540"></iframe> </div>';
            layoutHtml = layoutHtml.replace(/{layoutId}/g, layoutId).replace(/{url}/g, url);
            $('#myTabContent').append(layoutHtml);

        }
        function btnClosePanel(obj) {
            var panelF = $(obj).parents('li');
            var id= panelF.find('a').attr('href');
            var next = panelF.next();
            if (next.length > 0) {
                btnMenuClick(next.find('a'));
            } else {
                var prev = panelF.prev();
                if (prev.length > 0) {
                    btnMenuClick(prev.find('a'));
                }
            }
            $(id).remove();
            panelF.remove();
        }
    </script>
</head>
<body style="height:95%;width:98%;">
    <div style="display:none;">
        <div style="color:red;">代码版本= @HRApp.Web.InitAppSetting.CodeVersion</div>
        <div style="color:red;">数据库版本= @HRApp.Web.InitAppSetting.DBVersion</div>
        <div style="color:red;">文件版本= @HRApp.Web.InitAppSetting.Version</div>
    </div>
    <div id="toolMenu">
        <ul id="myMenu" class="nav nav-tabs">
        </ul>
    </div>
    <div id="toolTab" style="margin-top: 5px;">
        <ul id="myTab" class="nav nav-tabs" style="margin-bottom: 5px;">
            @*<li class="dropdown" style="display:none;">
                <a href="#" id="myTabDrop1" class="dropdown-toggle"
                   data-toggle="dropdown">
                    应用
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1" style="display:none;">
                    <li><a href="#jmeter" tabindex="-1" data-toggle="tab">jmeter</a></li>
                    <li><a href="#ejb" tabindex="-1" data-toggle="tab">ejb</a></li>
                </ul>
            </li>*@
        </ul>
        <div id="myTabContent" class="tab-content">

        </div>
    </div>
    <div class="warming" style="display:none;">
    </div>
</body>
</html>
