@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccountList</title>
</head>
<body>
    <div>
        <div id="btnTools">

        </div>
        <div id="grid">
            
        </div>
    </div>
</body>
</html>
